<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="style.css">
	<link rel="stylesheet" href="wordle.css">
	<title>Wordle</title>
</head>
<body>
	<header>
		<h1 class="title">Wordle</h1>
		<a href="/pool" class="link">Wörter hinzufügen</a>
		<a href="/rules" class="link">Spielregeln</a>
	</header>
	<main>
		<div class="wordGrid" align="center">
			<% for(let i = 1; i < 7; i++){ %>
				<div class="row<%-i%>">
					<p id="<%-i%>1"></p>
					<p id="<%-i%>2"></p>
					<p id="<%-i%>3"></p>
					<p id="<%-i%>4"></p>
					<p id="<%-i%>5"></p>
				</div>
			<% } %> 
			<div class="controlls">
				<input type="text" id="guess" name="guess" onchange="validateOnChange(this)">
				<input type="submit" id="button" class="button" onclick="checkLetters()" value="senden">
			</div>

			<p id="error" class="errorMessage">Das Wort muss fünfstellig sein!</p>
			<button class="button" onclick="window.location.href = '/play'">Neues Spiel</button>
		</div>
	</main> 
	<p style="display: none;" id="selectedWord"><%- wort %></p>
</body> 
<script>
let durchgang = 1;
function checkLetters(){
	if(durchgang == 7){
		showFailScreen();
	}
	let wort = document.getElementById('selectedWord').textContent;
	const guess = document.getElementById('guess');
	if(validateOnChange(guess)){
		fillWord(guess, wort);
		document.getElementById('guess').value = '';
	}
	
}
function fillWord(guess, wort){
	if (durchgang < 7){
		if(guess.value == "Rick Owens"){
			window.location.href = 'instantwin'
		}
		if(guess.value == wort){
			setTimeout(function(){
				window.location.href = '/won'
			}, 500);	
		}
		for(let i = 1 ; i < 6; i++){
			let element = String(durchgang) + String(i)
			let currentElement = document.getElementById(element);
			currentElement.innerHTML = guess.value[i-1]

			if(guess.value[i-1] == wort[i-1]){
				currentElement.classList.add('full');
			}
			else if(wort.includes(guess.value[i-1])){
				currentElement.classList.add('half')
			}
			else{
				currentElement.classList.add('not')
			}
		}
		durchgang++
	}
	else if(guess.value == wort){
		setTimeout(function(){
			window.location.href = '/won'
		}, 500);	
	}
	else{
		showFailScreen();
	}

	
}
function showFailScreen(){
	if(durchgang > 6){
		window.location.href = '/fail'
	}
}
function validateOnChange(input){
	let button = document.getElementById("button")
	let errorMessage = document.getElementById("error")
	if(input.value !== "Rick Owens" && input.value.trim().length !== 5){
		button.disabled = true;
		error.style.visibility = "visible"
		return false
	}
	else{
		button.disabled = false;
		error.style.visibility = "hidden"
		return true
	}
}    
</script>
</html>